@font-face {
    font-family: Airglyphs;
    src: url("fonts/airglyphs-5b926ac6cc5bb2ad44beae13c35371ea.eot");
    src: url("fonts/airglyphs-ie8-adf3fa6a562f472ad0dd9ae33d96cfccd41d.eot?#") format("eot"), url("fonts/airglyphs-5ebc51824a0c88d5779d01078cff346a.woff") format("woff"), url("fonts/airglyphs-039cf883ce27b284e72d97ff59fca19c.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
.icon {
    font-style: normal;
    font-weight: normal;
    line-height: 1
}
.icon:before {
    font-family: Airglyphs, sans-serif
}
.icon:before {
    line-height: 1
}
.icon.pull-left,
.icon.pull-right {
    line-height: inherit
}
.icon.pull-left:before,
.icon.pull-right:before {
    line-height: inherit
}
.pull-left.icon-size-2,
.pull-left.icon-size-3,
.pull-left.icon-size-4,
.pull-right.icon-size-2,
.pull-right.icon-size-3,
.pull-right.icon-size-4 {
    line-height: 1
}
.icon-size-2 {
    font-size: 2.4em
}
.icon-size-3 {
    font-size: 3.6em
}
.icon-size-4 {
    font-size: 4.8em
}
.icon-blue {
    color: #007a87
}
.icon-pink {
    color: #ffaa91
}
.icon-green {
    color: #3fb34f
}
.icon-red {
    color: #ff5a5f
}
.icon-yellow {
    color: #ffb400
}
.icon-accessible:before {
    content: '\f101'
}
.icon-add-listing:before {
    content: '\f102'
}
.icon-add:before {
    content: '\f103'
}
.icon-air-conditioning:before {
    content: '\f104'
}
.icon-alert-alt:before {
    content: '\f107'
}
.icon-alert-fill:before {
    content: '\f108'
}
.icon-alert:before {
    content: '\f109'
}
.icon-apartment:before {
    content: '\f10a'
}
.icon-archive:before {
    content: '\f10b'
}
.icon-arrow-down:before {
    content: '\f10c'
}
.icon-arrow-left:before {
    content: '\f10d'
}
.icon-arrow-reply:before {
    content: '\f10e'
}
.icon-arrow-right:before {
    content: '\f10f'
}
.icon-arrow-up:before {
    content: '\f110'
}
.icon-balloons:before {
    content: '\f111'
}
.icon-ban-circle:before {
    content: '\f112'
}
.icon-bar-chart:before {
    content: '\f113'
}
.icon-bars:before,
.icon-wine-glasses:before {
    content: '\f114'
}
.icon-bathtub:before {
    content: '\f115'
}
.icon-bell:before {
    content: '\f116'
}
.icon-bellhop:before {
    content: '\f117'
}
.icon-belo-heart:before {
    content: '\f118'
}
.icon-birdhouse:before {
    content: '\f119'
}
.icon-boat:before {
    content: '\f11a'
}
.icon-bolt:before,
.icon-instant-book:before {
    content: '\f11b'
}
.icon-book:before {
    content: '\f11c'
}
.icon-bullseye:before {
    content: '\f11d'
}
.icon-bus:before {
    content: '\f11e'
}
.icon-cabin:before {
    content: '\f11f'
}
.icon-calendar-alt:before,
.icon-tech-talks:before {
    content: '\f120'
}
.icon-calendar:before {
    content: '\f121'
}
.icon-camera:before {
    content: '\f122'
}
.icon-camper:before {
    content: '\f123'
}
.icon-car:before {
    content: '\f124'
}
.icon-caret-down:before {
    content: '\f125'
}
.icon-caret-left:before {
    content: '\f126'
}
.icon-caret-right:before {
    content: '\f127'
}
.icon-caret-up:before {
    content: '\f128'
}
.icon-castle:before {
    content: '\f129'
}
.icon-cat:before {
    content: '\f12a'
}
.icon-checkbox:before {
    content: '\f12b'
}
.icon-chevron-down:before {
    content: '\f12c'
}
.icon-chevron-left:before {
    content: '\f12d'
}
.icon-chevron-right:before {
    content: '\f12e'
}
.icon-chevron-up:before {
    content: '\f12f'
}
.icon-city:before {
    content: '\f130'
}
.icon-cloud:before {
    content: '\f131'
}
.icon-code:before {
    content: '\f132'
}
.icon-cog:before {
    content: '\f133'
}
.icon-comment-negative:before {
    content: '\f134'
}
.icon-comment-positive:before {
    content: '\f135'
}
.icon-comment:before {
    content: '\f136'
}
.icon-comments:before {
    content: '\f137'
}
.icon-cup-alt:before {
    content: '\f138'
}
.icon-cup:before {
    content: '\f139'
}
.icon-currency-brl:before {
    content: '\f13a'
}
.icon-currency-chf:before {
    content: '\f13b'
}
.icon-currency-czk:before {
    content: '\f13c'
}
.icon-currency-eur:before {
    content: '\f13d'
}
.icon-currency-gbp:before {
    content: '\f13e'
}
.icon-currency-huf:before {
    content: '\f13f'
}
.icon-currency-idr:before {
    content: '\f140'
}
.icon-currency-ils:before {
    content: '\f141'
}
.icon-currency-inr:before {
    content: '\f142'
}
.icon-currency-jpy:before,
.icon-currency-cny:before {
    content: '\f143'
}
.icon-currency-krw:before {
    content: '\f144'
}
.icon-currency-myr:before {
    content: '\f145'
}
.icon-currency-nok:before,
.icon-currency-dkk:before,
.icon-currency-sek:before {
    content: '\f146'
}
.icon-currency-php:before {
    content: '\f147'
}
.icon-currency-pln:before {
    content: '\f148'
}
.icon-currency-rub:before {
    content: '\f149'
}
.icon-currency-thb:before {
    content: '\f14a'
}
.icon-currency-try:before {
    content: '\f14b'
}
.icon-currency-usd:before,
.icon-money:before,
.icon-currency:before,
.icon-currency-aud:before,
.icon-currency-cad:before,
.icon-currency-hkd:before,
.icon-currency-mxn:before,
.icon-currency-nzd:before,
.icon-currency-twd:before,
.icon-currency-sgd:before,
.icon-currency-ars:before {
    content: '\f14c'
}
.icon-currency-vnd:before {
    content: '\f14d'
}
.icon-currency-zar:before {
    content: '\f14e'
}
.icon-dates-price:before {
    content: '\f14f'
}
.icon-description-alt:before {
    content: '\f150'
}
.icon-description:before {
    content: '\f151'
}
.icon-desktop:before {
    content: '\f152'
}
.icon-dog:before {
    content: '\f153'
}
.icon-doorman:before {
    content: '\f154'
}
.icon-double-bed:before {
    content: '\f155'
}
.icon-download:before {
    content: '\f156'
}
.icon-dryer:before {
    content: '\f157'
}
.icon-edit:before {
    content: '\f158'
}
.icon-elevator:before {
    content: '\f159'
}
.icon-entire-place:before {
    content: '\f15a'
}
.icon-envelope-inbound:before {
    content: '\f15b'
}
.icon-envelope-outbound:before {
    content: '\f15c'
}
.icon-envelope:before {
    content: '\f15d'
}
.icon-essentials:before {
    content: '\f15e'
}
.icon-events:before {
    content: '\f15f'
}
.icon-external-link:before {
    content: '\f160'
}
.icon-eye:before {
    content: '\f161'
}
.icon-facebook:before {
    content: '\f162'
}
.icon-family:before {
    content: '\f163'
}
.icon-filter:before {
    content: '\f164'
}
.icon-fire-alt:before {
    content: '\f165'
}
.icon-fire:before {
    content: '\f166'
}
.icon-fireplace:before {
    content: '\f167'
}
.icon-flag:before {
    content: '\f168'
}
.icon-flower:before {
    content: '\f169'
}
.icon-friends:before {
    content: '\f16a'
}
.icon-full-screen:before {
    content: '\f16b'
}
.icon-gift:before {
    content: '\f16c'
}
.icon-globe:before,
.icon-globe-alt:before {
    content: '\f16d'
}
.icon-google-plus:before {
    content: '\f16e'
}
.icon-group-alt:before {
    content: '\f16f'
}
.icon-group:before {
    content: '\f170'
}
.icon-guide-book:before {
    content: '\f171'
}
.icon-gym:before {
    content: '\f172'
}
.icon-hairdryer:before {
    content: '\f173'
}
.icon-handshake:before {
    content: '\f174'
}
.icon-haze:before {
    content: '\f175'
}
.icon-heart-alt:before {
    content: '\f176'
}
.icon-heart:before {
    content: '\f177'
}
.icon-heating:before {
    content: '\f178'
}
.icon-home-safety:before {
    content: '\f179'
}
.icon-home:before {
    content: '\f17a'
}
.icon-host-guarantee:before {
    content: '\f17b'
}
.icon-host-home-alt:before {
    content: '\f17c'
}
.icon-host-home:before {
    content: '\f17d'
}
.icon-hot-tub:before {
    content: '\f17e'
}
.icon-id-card-alt:before {
    content: '\f17f'
}
.icon-id-card-back:before,
.icon-credit-card:before {
    content: '\f180'
}
.icon-id-card:before {
    content: '\f181'
}
.icon-instagram:before {
    content: '\f182'
}
.icon-instant-book-alt:before {
    content: '\f183'
}
.icon-intercom:before {
    content: '\f184'
}
.icon-internet:before {
    content: '\f185'
}
.icon-key:before {
    content: '\f186'
}
.icon-liability:before {
    content: '\f187'
}
.icon-lifesaver:before {
    content: '\f188'
}
.icon-light-bulb-alt:before {
    content: '\f189'
}
.icon-light-bulb:before {
    content: '\f18a'
}
.icon-lighthouse:before {
    content: '\f18b'
}
.icon-linkedin:before {
    content: '\f18c'
}
.icon-list-ul:before {
    content: '\f18d'
}
.icon-listings:before {
    content: '\f18e'
}
.icon-location:before {
    content: '\f18f'
}
.icon-lock:before {
    content: '\f190'
}
.icon-map-marker-alt:before {
    content: '\f191'
}
.icon-map-marker:before {
    content: '\f192'
}
.icon-match:before {
    content: '\f193'
}
.icon-meal:before {
    content: '\f194'
}
.icon-meetups:before {
    content: '\f195'
}
.icon-minus:before {
    content: '\f196'
}
.icon-money-deposit:before {
    content: '\f197'
}
.icon-money-none:before {
    content: '\f198'
}
.icon-moon:before {
    content: '\f199'
}
.icon-ok-alt:before {
    content: '\f19a'
}
.icon-ok-fill:before {
    content: '\f19b'
}
.icon-ok:before {
    content: '\f19c'
}
.icon-overview:before {
    content: '\f19d'
}
.icon-paper-plane:before {
    content: '\f19e'
}
.icon-parking:before {
    content: '\f19f'
}
.icon-partly-cloudy:before {
    content: '\f1a0'
}
.icon-passport:before {
    content: '\f1a1'
}
.icon-paw:before {
    content: '\f1a2'
}
.icon-phone-alt:before {
    content: '\f1a3'
}
.icon-phone-android:before {
    content: '\f1a4'
}
.icon-phone-inbound:before {
    content: '\f1a5'
}
.icon-phone-outbound:before {
    content: '\f1a6'
}
.icon-phone:before {
    content: '\f1a7'
}
.icon-photo-upload:before {
    content: '\f1a8'
}
.icon-picture:before {
    content: '\f1a9'
}
.icon-pinterest:before {
    content: '\f1aa'
}
.icon-plane:before {
    content: '\f1ab'
}
.icon-pool:before {
    content: '\f1ac'
}
.icon-private-room:before {
    content: '\f1ad'
}
.icon-question-alt:before {
    content: '\f1ae'
}
.icon-question:before {
    content: '\f1af'
}
.icon-rain:before {
    content: '\f1b0'
}
.icon-real-bed:before {
    content: '\f1b1'
}
.icon-recently-viewed:before {
    content: '\f1b2'
}
.icon-record:before {
    content: '\f1b3'
}
.icon-refresh:before {
    content: '\f1b4'
}
.icon-remove:before {
    content: '\f1b5'
}
.icon-reorder:before {
    content: '\f1b6'
}
.icon-repeat:before {
    content: '\f1b7'
}
.icon-rooms:before {
    content: '\f1b8'
}
.icon-sad-face:before {
    content: '\f1b9'
}
.icon-search:before {
    content: '\f1ba'
}
.icon-secure-user:before {
    content: '\f1bb'
}
.icon-shampoo:before {
    content: '\f1bc'
}
.icon-share:before,
.icon-share-alt:before {
    content: '\f1bd'
}
.icon-shared-room:before {
    content: '\f1be'
}
.icon-shopping-bag:before {
    content: '\f1bf'
}
.icon-shopping-basket:before,
.icon-apple:before {
    content: '\f1c0'
}
.icon-smoking:before {
    content: '\f1c1'
}
.icon-snow:before {
    content: '\f1c2'
}
.icon-spray-bottle:before {
    content: '\f1c3'
}
.icon-star-alt:before {
    content: '\f1c4'
}
.icon-star-circled:before {
    content: '\f1c5'
}
.icon-star-half:before {
    content: '\f1c6'
}
.icon-star:before {
    content: '\f1c7'
}
.icon-stats:before {
    content: '\f1c8'
}
.icon-stopwatch-alt:before {
    content: '\f1c9'
}
.icon-stopwatch:before {
    content: '\f1ca'
}
.icon-suitcase:before {
    content: '\f1cb'
}
.icon-sun:before {
    content: '\f1cc'
}
.icon-tablet:before {
    content: '\f1cd'
}
.icon-tag-alt:before {
    content: '\f1ce'
}
.icon-tag:before {
    content: '\f1cf'
}
.icon-tent:before {
    content: '\f1d0'
}
.icon-thumbs-down:before {
    content: '\f1d1'
}
.icon-thumbs-up:before {
    content: '\f1d2'
}
.icon-time-dark:before {
    content: '\f1d3'
}
.icon-time:before,
.icon-time-alt:before {
    content: '\f1d4'
}
.icon-train:before {
    content: '\f1d5'
}
.icon-trash:before {
    content: '\f1d6'
}
.icon-tv:before {
    content: '\f1d7'
}
.icon-twitter:before {
    content: '\f1d8'
}
.icon-unlock:before {
    content: '\f1d9'
}
.icon-upload:before {
    content: '\f1da'
}
.icon-user-circle:before {
    content: '\f1db'
}
.icon-user:before {
    content: '\f1dc'
}
.icon-verified-id:before {
    content: '\f1dd'
}
.icon-video-none:before {
    content: '\f1de'
}
.icon-video-pause-alt:before {
    content: '\f1df'
}
.icon-video-pause:before {
    content: '\f1e0'
}
.icon-video-play-alt:before {
    content: '\f1e1'
}
.icon-video-play:before {
    content: '\f1e2'
}
.icon-video:before {
    content: '\f1e3'
}
.icon-viewfinder:before {
    content: '\f1e4'
}
.icon-vk:before {
    content: '\f1e5'
}
.icon-volume:before {
    content: '\f1e6'
}
.icon-washer:before {
    content: '\f1e7'
}
.icon-webcam:before {
    content: '\f1e8'
}
.icon-weibo:before {
    content: '\f1e9'
}
.icon-wifi:before {
    content: '\f1ea'
}
.icon-wind:before {
    content: '\f1eb'
}
.icon-youtube:before {
    content: '\f1ec'
}