<template>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="user-login">
                    <div class="user-login-bg"></div>
                    <div class="user-login-content" style="padding: 6%;">
                        <div class="col-md-12" style="margin:-2%; float: left; left: 66%;">
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Ayuda</span>
                                    <span style="padding: 11px;
                                                background: rgb(232 227 227 / 82%);
                                                color: #151313;
                                                border-radius: 14px;
                                                font-size: 13px;
                                                ">Guarda y sal</span>
                        </div>
                        <div class="user-login-form" style="margin-top: 15%;">
                            <div class="col-md-12">
                                <div class="row mt-5 justify-content-center">
                                    <div  align="center">
                                        <label style="font-size: 25px;float: left;"> Crea tu título </label> <br>
                                        <textarea style="font-size: 44px;
                                                        border-radius: 12px;
                                                        border: 1px solid;" 
                                                placeholder="Hermoso apartamento con jacuzzi" 
                                                maxlength="50" 
                                                v-model="title" 
                                                ></textarea><br>
                                        <span style="float: left;">{{ title.length }}/ 50</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12" style="margin-top: 14%;">
                                    <a @click="$router.go(-1)" style="padding: 11px;
                                                color: #090909;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: left;
                                                text-decoration-line: underline;
                                                cursor: pointer;">
                                        Atrás
                                    </a>
                                    <button type="button" style="padding: 11px;
                                                background: rgb(33 30 30);
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 18px;
                                                float: right;" @click="Description()">
                                                Siguiente
                                    </button>                               
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>

export default{



    data:function(){
        return {
            title:'',
        }
    },

    methods:{
        
        Description(){
                this.$router.push({
					name: "/inmuebles/description"
				});
        },
 
    },

    watch:{
        title: function(value){
            localStorage.title = JSON.stringify(value);
        }
    },

}
</script>
