<template>
    <div class="container-fluid p-0">
        <div class="row">           

           <!--  <div class="user-login" style="margin-top: 10px;">
                <div class="user-login-bg"></div>
                
                <div class="user-login-content">
                    <div class="user-login-form">
                        <div class="row mt-5 justify-content-center" >
                                <template v-if="category">
                                    <div class="col-lg-7 col-md-12" v-for="data in categories" style="margin: 15px;" align="center">
                                            <div class="card" style="border-radius: 100px;border: 1px solid red;" @click="DataSubCategories(data.category_id)" >
                                                <div class="card-body">
                                                    {{ data.category_name }}
                                                </div>
                                            </div>
                                    </div>
                                </template>

                                <template v-if="subcategory">
                                    <div class="col-lg-7 col-md-12" v-for="data in subcategories" style="margin: 15px;" align="center">
                                            <div class="card" style="border-radius: 100px;border: 1px solid red;" @click="RegisterRenter()">
                                                <div class="card-body">
                                                    {{ data.subcategory_name }}
                                                </div>
                                            </div>
                                    </div>
                                </template>

                                <template v-if="register_renter">
                                    <div class="user-login-content">
                                        <div class="user-login-form">
                                                
                                            <div class="d-flex justify-content-center login-list mt-5">
                                                <div><a class="act-active">Datos</a></div>
                                            </div>
                                            <div class="row mt-5 justify-content-center" >
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="">Direccion</label>
                                                                <input type="text" class="form-control" v-model="custumers_address">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="">Telefono</label>
                                                                <input type="text" class="form-control" v-model="customers_phone">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">  
                                                        <div class="col-md-6">
                                                            <div class="form-group  p-0 mt-3">
                                                                    <label class="font-weight-600">Eliga Pais</label>
                                                                    <select class="form-control" v-model="country_id">
                                                                        <option v-for="data in countries" :value="data.country_id">{{ data.country_name }}</option>
                                                                    </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group  p-0 mt-3">
                                                                <label class="font-weight-600">Eliga Ciudad</label>
                                                                <select class="form-control" v-model="city_id">
                                                                    <option v-for="data in cities" :value="data.city_id">{{ data.city_name }}</option>
                                                                </select>

                                                            </div>
                                                        </div>  
                                                        
                                                        <div class="form-group col-sm-12 p-0 mt-5" >
                                                            <button type="submit" class="btn google_btn pt-3 pb-3 text-16 w-100 mt-3" @click="RegisterMapeo()">
                                                                Siguiente 
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template> 

                                <template v-if="mapeo">
                                    
                                    <div class="container">
                                        <div class="col-md-12">
                                            <gmap-autocomplete
                                                class="form-control my-0 py-1"
                                                @place_changed="setPlace">
                                            </gmap-autocomplete>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="col-md-12">
                                            <GmapMap
		                                        :center="coordenadas"
		                                        :zoom="16"
		                                        style="height: 591px"
		                                        icon="www.google.dk/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">

		                                        <gmap-marker :position="{lat:coordenadas.lat, lng:coordenadas.lng}">
		                                        </gmap-marker>
                                            
		                                    </GmapMap>

                                            <div class="form-group col-sm-12 p-0 mt-5" >
                                                <button type="submit" class="btn google_btn pt-3 pb-3 text-16 w-100 mt-3" @click="SubirImage()">
                                                    Siguiente 
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    
                                </template> 


                                <template v-if="image">
                                    <div class="container">
                                        <div class="col-md-12">
                                             <div class="user-login-content">
                                                <div class="user-login-form">
                                                    <div class="row mt-5 justify-content-center" >
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="">Nombre del su Inmueble/Hotel</label>
                                                                        <input type="text" class="form-control" v-model="hotel_name">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <vue2Dropzone ref="collection_img_hotel_url" id="dropzone"
                                                                                    v-on:vdropzone-max-files-exceeded="maxFilesAlert"
                                                                                    :options="dropzoneOptions">
                                                                    </vue2Dropzone>
                                                                </div>
                                                                
                                                                <div class="form-group col-sm-12 p-0 mt-5" >
                                                                    <button type="submit" class="btn google_btn pt-3 pb-3 text-16 w-100 mt-3" @click="PosRenter()">
                                                                        Finalizar 
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                
                                </template>                             
                        </div>
                    </div>
                </div>
            </div> -->

                <div class="user-login">
                    <div class="user-login-bg"></div>
                    <div class="user-login-content" style="background: black;">
                        <div class="user-login-form" style="padding-top:50px;">
                            <div class="row" >
                                <div class="col-md-12" style="margin:5%; float: left; left: 77%;">
                                    <span style="padding: 11px;
                                                background: #ff000073;
                                                color: white;
                                                border-radius: 14px;
                                                font-size: 11px;">
                                        Salir
                                    </span>
                                </div>
                                <div class="col-md-12" style="margin-top: 2%;padding: 16%;" align="center">
                                    <div style="color:white;">
                                        <p style="font-size: 48px !important;">Hazte renter en 10 pasos fáciles</p>
                                        <p style="font-size: 18px !important;">Únete a nosotros. Nosotros te ayudaremos en cada fase del proceso.</p>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top:-9%;">
                                    <div style="border-top: 1px solid #aaa5a5;
                                                height: 2px;
                                                max-width: 100%;
                                                padding: 0px;
                                                margin: 20px auto 0px;"></div>
                                </div>
                                <div class="col-md-12" style="margin-top:-2%;float: left;left: 77%;">
                                    <router-link to="/property-type-group">
                                        <button type="button" style="padding: 6px;
                                                                    background: rgba(255, 0, 0, 0.45);
                                                                    color: white;
                                                                    border-radius: 6px;
                                                                    font-size: 16px;
                                                                    border-color: transparent;" >
                                                ¡Vámos!
                                        </button>
                                    </router-link>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

            
            
        </div>
    </div>
</template>

<script>

    export default {
        methods:{


            PosRenter(){
                let me = this;	
                this.$refs.collection_img_hotel_url.processQueue();
                let images  = this.$refs.collection_img_hotel_url.getAcceptedFiles();
                let index = 0;
                let files  = []
                let  data = new FormData()

                for( let i = 0; i < images.length; i++ ){
                    let file = images[i];
                    data.append('collection_img_hotel_url[' + i + ']', file);
                }	

                data.append('hotel_name', me.hotel_name),
                data.append('category_id', me.category_id),
                data.append('subcategory_id', me.subcategory_id),
                data.append('country_id', me.country_id),
                data.append('city_id', me.city_id),
                data.append('customers_phone', me.customers_phone),
                data.append('custumers_address', me.custumers_address),
                data.append('hotel_lat', me.hotel_lat),
                data.append('hotel_lng', me.hotel_lng),
                axios.post('/renters/register', data,{ headers: {'Content-Type': 'multipart/form-data'}})
                .then(function(response){
                    if (response.data.status=='success') {
                        Swal.fire({
                              title: response.data.mensaje,
                              text: 'Se le dara acceso pronto.',
                              type: 'success',
                              confirmButtonText: 'OK'
                        });
                        this.$router.replace('/');
                    }
                });
            }

        },
    }
</script>
